div{
    background-color: yellowgreen;
    border-radius: 10px;
}

table{
    margin-left: 100px;

border-collapse: collapse;
}
table td{
    padding:10px;
    border: 1px solid black;
}

table tr:first-child{
    
    background-color: blue;
    color: white;
}
table tr:nth-child(even){
    background-color: rgb(204, 203, 203)
}
button{

    margin:aut;
    background-color: aquamarine;
    border-radius: 5px;
}

table tr:hover{
    background-color: yellowgreen;
}
table,input,p,h,label,button{
    margin-left: 10px;


}