
#ronnie{
    background-color: rgb(240, 215, 215);
    padding: 3%;
}
.container{
padding:5%;
    background-color: rgb(36, 32, 32);
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: space-between;
    margin: 10%;
    
}

img{
    width: 100%;
    height: 100%;
}

.third{
   
    display:grid;
    grid-template-columns: auto auto;
    gap:1%;
    

}
#hh{
    grid-column: 1/3;
}

.footer1{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap:0px;

}
.footer2{grid-column: 7/10;
text-align: end;}


.foot{
    
    grid-column: 1/4;
   
 
}
#l1{
    margin: 2%;
    list-style-image: url("../images/phone.ico");
}
#l2{
    margin: 2%;
    list-style-image: url("../images/email.ico");
}
#list2{

    list-style-image: url("../images/twitter.ico");
}

#list2 li{
    padding:2%;
}

div{
    color: whitesmoke;
    font-size: 95%;

}





